/* Title text color #2E2F42 */
/* Primary text color #434455 */
/* Hero text color #FFFFFF */
/* Logo accent text color #4D5AE5 */
/* Footer STUDIO color #F4F4FD */
/* Footer text color #E7E9FC */
/* Primary bg color #FFFFFF */
/* Secondary bg color #2E2F42 */
/* Team bg color #F4F4FD */

:root {
--primary-text-color: #434455;
--title-text-color: #2E2F42;
--hero-text-color: #FFFFFF;
--accent-color: #4D5AE5;
--footer-logo-color: #F4F4FD;
--footer-text-color: #E7E9FC;
--primary-bg-color: #FFFFFF; 
--secondary-bg-color: #2E2F42;
--additional-bg-color: #F4F4FD;
}

/* index.html */

/* General formatting */

body {
    background-color: var(--primary-bg-color)
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}


/* Logo styles*/

.logo {
    color: var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-align: left;
}
.logo-accent {
    color: var(--accent-color);
}

/* Site navigation styles*/

.site-nav .link {
    color: var(--title-text-color);
    font-weight: 700;
    text-align: left; 
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.link-current {
    color: var(--accent-color)
}
.site-contacts .link {
    color: var(--primary-text-color);
}
.site-contacts .link:hover,
.site-contacts .link:focus {
    color: var(--accent-color);
}

/* Hero styles*/

.hero {
    background: var(--secondary-bg-color);
}
.hero-title {
    color: var(--hero-text-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}
.hero-btn {
    color: var(--hero-text-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    cursor: pointer;
    border: var(--accent-color);
   }

/* Benefits styles */

.benefits .title {
      text-align: left;
}
.benefits .description {
    text-align: left;
}

/* Projects examples styles */

.projects-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

/* Team styles */

.team {
    background: var(--additional-bg-color);
}
.team-item {
    background: var(--primary-bg-color);
}
.team-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}
.team-item .title {
       text-align: center;
}
.team-item .description {
    text-align: center;
}

/* Footer styles */

.ftr {
    background: var(--secondary-bg-color);
}
.logo-ftr {
    color: var(--footer-logo-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-align: left;
    letter-spacing: 0.03em;
}
.ftr-text{
    color: var(--footer-text-color);
}

/* portfolio.html */

/* Filter buttons styles */

.btn-list {
    text-align: center;
}
.portfolio-btn {
    color: var(--accent-color);
    background-color: var(--additional-bg-color);
    font-weight: 700;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    border: 1px solid var(--footer-text-color);
    border-radius: 4px;
    cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--hero-text-color);
    background-color: var(--accent-color);
}

.project-list .title {
       text-align: left;
}
.project-type {
    color: var(--primary-text-color);
    text-align: left; 
    letter-spacing: 0.02em;
}
/* .project-description {
    color: var(--footer-logo-color);
    text-align: left;  
    letter-spacing: 0.02em;
} */
